<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>
            </ion-list>
            <a ng-click="login(data)" class="button button-outline button-light button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>
