<ion-view class="title" view-title="Patient details">

  <ion-content class="padding">

    <div class="item item-divider">
        <b>{{patientn.firstname}} {{patientn.lastname}}</b> <span>{{patientn.cpr}}</span>
    </div>

    <label class="item row">
      <div class="col col-75">
        Respiration Rate
      </div>
      <div class="col" class="dynamicItem">
        <b>{{patientn.respiration}}</b>
      </div>
    </label>

    <label class="item row">
      <div class="col col-75">
        Oxygen Saturations
      </div>
      <div class="col" class="dynamicItem">
        <b>{{patientn.oxygenSat}}</b>
      </div>
    </label>

    <label class="item row">
      <div class="col col-75">
        Any Supplemental Oxygen
      </div>
      <div class="col" class="dynamicItem">
        <b>{{patientn.oxygen}}</b>
      </div>
    </label>

    <label class="item row">
      <div class="col col-75">
        Temperature
      </div>
      <div class="col" class="dynamicItem">
        <b>{{patientn.temperature}}</b>
      </div>
    </label>

    <label class="item row">
      <div class="col col-75">
        Systolic BP
      </div>
      <div class="col dynamicItem">
        <b>{{patientn.systolic}}</b>
      </div>
    </label>  

    <label class="item row">
      <div class="col col-75">
        Heart Rate
      </div>
      <div class="col dynamicItem">
        <b>{{patientn.heartRate}}</b>
      </div>
    </label> 

    <label class="item row">
      <div class="col col-75">
        Consciousness
      </div>
      <div class="col dynamicItem">
        <b>{{patientn.consciousness}}</b>
      </div>
    </label> 

    <label class="item row">
      <div class="col col-75">
        <span class="newsScore">NEWS Score</span>
      </div>
      <div class="col dynamicItem">
        <b class="newsScore">{{patientn.score}}</b>
      </div>
    </label>

    </br>

<!--     <a class="button button-outline button-light button-block" ng-click="back()">Back</a> -->

  </ion-content>
</ion-view>
