<ion-view view-title="Patient details">
  <ion-content class="padding">
  
  	  <div class="item item-divider">
	      <b>{{patient.firstname}} {{patient.lastname}}</b> <span>{{patient.cpr}}</span>
	  </div>

      <label class="item row">
	    <div class="col col-25">
	      Triage
	    </div>
	    <div class="col dynamicItem">
	      <b>{{patient.triage}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-25">
	      Diagnosis
	    </div>
	    <div class="col dynamicItem">
	      <b>{{patient.diagnosis}}</b>
	    </div>
	  </label>

      <label class="item row">
	    <div class="col col-25">
	      Gender
	    </div>
	    <div class="col dynamicItem">
	      <b>{{patient.gender}}</b>
	    </div>
	  </label>

      <label class="item row">
	    <div class="col col-25">
	      Doctor
	    </div>
	    <div class="col dynamicItem">
	      <b>{{patient.doctor}}</b>
	    </div>
	  </label>

      <label class="item row">
	    <div class="col col-25">
	      Address
	    </div>
	    <div class="col dynamicItem">
	      <b>{{patient.address}}, {{patient.city}}, {{patient.zip}}</b>
	    </div>
	  </label>  

		</br>

	   <!-- <a class="button button-outline button-light button-block" ng-click="back()">Back</a> -->

  </ion-content>
</ion-view>
