<ion-view>
  <ion-nav-title side="left">
    Patients
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <a class="button button-outline button-light" ng-click="showSort()">Sort by</a>
  </ion-nav-buttons>
  <ion-spinner></ion-spinner>
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search by name or CPR" ng-model="patient.name">
    </label>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
        <p ng-show="patients.length === 0" style="margin-left: 20px; margin-top: 20px; ">No patients.</p>
       <ion-item class="item-remove-animate item-icon-right" ng-repeat="patient in patients | orderBy: sortby | filter: patient.name" type="item-text-wrap" href="#/tab/patients/{{patient._id}}">
        <h2 >{{patient.firstname}} {{patient.lastname}} (<b>{{patient.cpr}}</b>)</h2>
        <p>Triage: <b>{{patient.triage}}</b> / Diagnosis: <b>{{patient.diagnosis}}</b></p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(patient)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
