<ion-view>
	  <ion-nav-title side="left">
	    Account
	  </ion-nav-title>

	  <ion-nav-buttons side="right">
	    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
	  </ion-nav-buttons>

	<ion-content class="padding">
	  <div class="item item-divider">
	    User Details
	  </div>

	  <label class="item row">
	    <div class="col col-30">
	      Username
	    </div>
	    <div class="col dynamicItem">
	      <b>{{user.username}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Email
	    </div>
	    <div class="col dynamicItem">
	      <b>{{user.email}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Phone
	    </div>
	    <div class="col dynamicItem">
	      <b>{{user.phone}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Employee ID
	    </div>
	    <div class="col dynamicItem">
	      <b>{{user.employeeId}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Name
	    </div>
	    <div class="col dynamicItem">
	      <b>{{user.firstname}} {{user.lastname}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Organisation
	    </div>
	    <div class="col dynamicItem">
	      <b>{{user.organisation}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Role
	    </div>
	    <div class="col dynamicItem">
	      <b>{{user.role}}</b>
	    </div>
	  </label>

	  <div class="item item-divider">
	    Device Details
	  </div>
	  <label class="item row">
	    <div class="col col-30">
	      Manufacturer
	    </div>
	    <div class="col dynamicItem">
	      <b>{{manufacturer}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Model
	    </div>
	    <div class="col dynamicItem">
	      <b>{{model}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Platform
	    </div>
	    <div class="col dynamicItem">
	      <b>{{platform}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      Device ID
	    </div>
	    <div class="col dynamicItem">
	      <b>{{uuid}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      RegID iOS
	    </div>
	    <div class="col dynamicItem">
	      <b>{{devidiOS}}</b>
	    </div>
	  </label>

	  <label class="item row">
	    <div class="col col-30">
	      PushID Android
	    </div>
	    <div class="col dynamicItem">
	      <b>{{devidAndroid}}</b>
	    </div>
	  </label>
	</ion-content>
</ion-view>
