<ion-view>
  <ion-nav-title side="left">
    Self-measured NEWS
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <a class="button button-outline button-light" ng-click="showSort()">Sort by</a>
  </ion-nav-buttons>
  <ion-spinner></ion-spinner>
  <ion-searchbar ngModel="myInput"></ion-searchbar>
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="Search by name or CPR" ng-model="patient.name">
    </label>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
        <p ng-show="patientsnews.length === 0" style="margin-left: 20px; margin-top: 20px; ">No self-measured NEWS.</p>
        <ion-item class="item-remove-animate item-icon-right" ng-repeat="patientn in patientsnews | orderBy: sortby | filter: patient.name" type="item-text-wrap" href="#/tab/news/{{patientn._id}}">
        <h2>NEWS <b class="red">{{patientn.score}}</b></h2>
        <p>{{patientn.firstname}} {{patientn.lastname}} / {{patientn.cpr}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(patientn)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
