<ion-tabs class="tabs-color-dark tabs-icon-top">
  <div class="">
    <!-- NewsList Tab -->
    <ion-tab title="NEWS List" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/news">
      <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>

    <!-- Patients Tab -->
    <ion-tab title="Patients" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/patients">
      <ion-nav-view name="tab-patients"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
  </div>
</ion-tabs>
