@font-face {
  font-family: 'SF';
  src: url('fonts/sfRegular.ttf');
}

body { font-family: Roboto, SF; }

.title {
	color: Grey;
	font-size: 20px;
}

.dynamicItem{
	word-break: break-all; 
	white-space: normal;
}

.newsScore {
	color: #ce3c57;
}

.bar.bar-header.no-bgColor, .bar.bar-footer.no-bgColor{
	border: 0px;
	border-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
	background-image: none !important; 
}

.red {
	color: #ce3c57;
	/*font-size: 16px;*/
}

.tabs-color-dark .tabs-icon-top .grey { 
	background-color: #666666 !important;
}

.tabs-positive > .tabs{
	background-color: red !important;
}

.bar, .platform-android .bar .title { 
	background-color: #f7f7f7 !important;
	font-weight: normal; 
	font-size: 15px;
}
.title { color: #ce3c57; }
.back { color: #ce3c57 !important;}
.tabs-color-dark .tab-item.tab-item-active, .tabs-color-dark .tab-item.active, .tabs-color-dark .tab-item.activated {
	color: #ce3c57 !important;
	border: 0 solid #ce3c57 !important;
}

.tabs-striped .tabs {
	background-color: #f7f7f7 !important;
	border-top: 1px solid #b2b2b2 !important;
}

.button.button-light.button-outline {
	border-color: #ce3c57;
    background: transparent;
    color: #ce3c57;
}

.button.button-light.button-outline.activated {
	border-color: #666666 !important;
    background: transparent;
    color: #666666 !important;
}


/* Action Sheet */
.platform-android .action-sheet-backdrop.active {
	background-color: rgba(0, 0, 0, 0.2); 
}

.platform-android .action-sheet .action-sheet-title{
	padding: 0px;
	margin: 0 auto;
}

.platform-android .action-sheet .button {
	text-align: left;
	border-color: transparent;
	font-size: 16px;
	padding: 10px;
	color: inherit; 
}

.platform-android .action-sheet .action-sheet-title {
	font-size: 14px;
	padding: 16px;
	margin: 20px;
	color: #666; 
}

.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
}

.platform-android .action-sheet-group {
	margin: 0px;
	border-radius: 0;
	background-color: #fafafa; 
}

.platform-android .action-sheet-cancel {
}

.platform-android .action-sheet-has-icons .button {
}